body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --accent_color:  rgb(184, 168, 194);
}

* {
  box-sizing: border-box;
  font-family: 'Lexend Mega', sans-serif;
  font-size: 100%;
 
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("images/the\ real\ background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

header {
  padding: 20px;
  height: 100%;
}
 h1 {
  font-size: xx-large;
  margin-top: 20px;
  position: fixed; 
  overflow: auto;
}

nav {
 height: 100%;
  padding-top: 3%;
}
ul {
  list-style-type: none;
  text-decoration: none;
  width: 25%;
  height: 100%;
  position: fixed; 
  overflow: auto; 

}
ul li {
margin-bottom: 2.5em;
text-decoration: none;
}
nav ul li a {
  text-decoration: none;
  color:black;
  cursor: pointer;
}

.Body-Container {
  display: flex;
  max-width: 33.3%;
  margin-left: 33.3%;
}
#mypic {
   border-style: solid;
   padding: 5%;
   min-height: 10%;
   width: 33.3%;
   margin: auto;
   margin-bottom: 10%;
   border-color: var(--accent_color);
  content: url(images/me_irl_in_shades.jpg);
}
h2 {
   min-width: 33.3%;
   text-align: center;
   font-size: x-large;
   padding-bottom: 10%;
}
section p {
   text-align: justify;
   margin: 0 5%;
}
section h3 {
  text-align: center;
}
a {
  text-decoration: none;
   color: black;
}
.project {
  margin: 5%;
}
#project_container {
  display:flex;
}
.small_project_container {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex:1;
  margin: 5% 2.5%;
  /* flex-direction: column; */
}
.small_projects_slot {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: var(--accent_color);
  min-height: 10em;
  width: 18em;
  background-image: url(https://cdn130.picsart.com/269868497006201.png?type=webp&to=min&r=640);
}

#writer:hover {
  background-image: url(images/writersblock.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#weather:hover {
  background-image: url(images/weather.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#password:hover {
  background-image: url(images/passwordGenerator.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#daily:hover {
  background-image: url(images/dailyplanner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.small_projects_slot:hover h3{
  display: none;
}
#contact_form {
  width: 100%;
  margin: 20%
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#button {
  margin-top:10%;
  background-color: var(--accent_color) ;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#footer {
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   width: 100%;
}

i {
  font-size: 3rem;
}

/* adjustments for tablet and  phone */
@media only screen and (max-width: 768px) {
  section p {
      font-size: 75%; 
  }
  section h2 {
      font-size: large;
  }
  section h3 {
      font-size: small;
  }
  #button {
      font-size: 55%;
  }
  .small_projects_slot {
      min-height: 5em;
      width: 9em;
  }
}

@media only screen and (max-width: 540px) {
  nav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
/*this button appears to have the proper font size in browsers device choser, but on phone it is not working*/
  #button {
      font-size:25%;
  }
  .small_projects_slot {
      min-height: 2.5em;
      width: 10em;
  }
}
@media only screen and (max-width: 400px) {
  section p {
      font-size: 50%; 
  }
  section h2 {
      font-size: medium;
  }
  section h3 {
      font-size: xx-small;
  }
  #button {
      font-size: 5px;
  }
}